
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/


*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
*.orig

# Visual Studio Code
# .vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.exe
*.dll

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn
publish/

# Visual Studio 2015
.vs/

# Visual Studio Code
.vscode/

# Rider
.idea/ 
/packages/
/.localhistory

# Code coverage results
coverage.opencover.xml

# ci build
ci/tmp/



npm-debug.log
node_modules/
!/node_modules/
!src/node_modules/
